@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.miniHeader {
  height: 30px;
  width: 1500px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
.containerA {
  background-color: seashell;
  margin: 20px;
  width: 1300px;
  display: flex;
  height: 500px;
  justify-content: space-evenly;
}
#keyKero {
  font-size: 2rem;
  margin: 8px;
}
.keyDiv {
  margin: 5px;
}
.kero {
  width: 400px;
  height: 400px;
  margin: 5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}
.keyInfo {
  font-size: 2rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jibupic {
  width: 400px;
  height: 400px;
  margin: 5px;
}
