.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  position: absolute;
}
.pic {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.greenCon {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1500px;
  height: auto;
  font-size: 4rem;
  background-color: blanchedalmond;
}
.keyContainer {
  width: 1400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.key {
  display: flex;
  width: 1100px;
}
.last {
  flex-direction: column;

  align-items: center;
  margin: 30px;
}
.pic {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
.mini {
  display: flex;
  width: 100%;
}
.ti {
  width: 90%;
}
@media (max-width: 1400px) and (max-width: 1500px) {
  .greenCon {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keyContaine {
    background-color: blanchedalmond;
    width: 1300px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
  }
  .mini {
    height: 30px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
  .pic {
    width: 450px;
    height: 450px;
    border-radius: 50%;
  }
}

@media (max-width: 1300px) and (max-width: 1400px) {
  .greenCon {
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keyContaine {
    background-color: blanchedalmond;
    width: 1200px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
  }
  .mini {
    height: 30px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
  .pic {
    width: 450px;
    height: 450px;
    border-radius: 50%;
  }
}
@media (max-width: 1200px) and (max-width: 1300px) {
  .mainContainer {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerA {
    background-color: blanchedalmond;
    width: 1100px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
  }
  .miniHeader {
    height: 30px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
}
@media (max-width: 1100px) and (max-width: 1200px) {
  .greenCon {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .keyContainer {
    background-color: blanchedalmond;
    width: 1000px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
  }
  .mini {
    height: 30px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .pic {
    width: 250px;
    height: 300px;
    margin: 5px;
    border-radius: 50%;
  }
}

@media (max-width: 1000px) and (max-width: 1100px) {
  .greenCon {
    width: 1000px;
  }
  .key {
    width: 900px;
  }
  .containerA {
    width: 1000px;
  }
  .miniHeader {
    height: 30px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .pic {
    width: 250px;
    height: 300px;
    margin: 5px;
    border-radius: 50%;
  }
  .last {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) and (max-width: 900px) {
  .greenCon {
    width: 800px;
  }
  .key {
    width: 700px;
  }
  .containerA {
    width: 700px;
  }
  .miniHeader {
    height: 30px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .pic {
    width: 150px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
  }
  .last {
    font-size: 1.5rem;
  }
}
@media (max-width: 750px) and (max-width: 800px) {
  .mainContainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerA {
    background-color: seashell;
    width: 700px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
  }
  .miniHeader {
    height: 30px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .jibupic {
    width: 150px;
    height: 250px;
    margin: 5px;
  }
  .kero {
    width: 300px;
    height: 300px;
    margin: 5px;
  }
  #keyKero {
    font-size: 1.5rem;
    margin: 8px;
  }
  .keyInfo {
    font-size: 1.5rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 700px) and (max-width: 750px) {
  .mainContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerA {
    background-color: seashell;
    width: 600px;
    display: flex;
    height: 400px;
    justify-content: space-evenly;
  }
  .miniHeader {
    height: 30px;
    width: 00px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .jibupic {
    width: 150px;
    height: 250px;
    margin: 5px;
  }
  .kero {
    width: 300px;
    height: 300px;
    margin: 5px;
  }
  #keyKero {
    font-size: 1.5rem;
    margin: 8px;
  }
  .keyInfo {
    font-size: 1.5rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .greenCon {
    width: 300px;
    margin: 10px;
  }
  .key {
    width: 300px;
  }
  .containerA {
    width: 300px;
  }
  .mini {
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  .pic {
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 50%;
  }
  .last {
    font-size: 1.5rem;
  }
}
