@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url(./reset.css);
@import url(./section.css);

html {
  font-family: "Permanent Marker", cursive;
}
body {
  height: 100%;
}
.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 400px auto 400px auto;
  max-width: 1500px;
  font-size: 10rem;
  flex-wrap: wrap;
}
.hidden {
  display: none;
}
