@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url(./reset.css);
@import url(./section.css);

html {
  font-family: "Permanent Marker", cursive;
}

.welcome {
  display: flex;
  margin: 400px auto 400px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
  font-size: 10rem;
}
.hidden {
  display: none;
}
.size {
  z-index: 1000;
}
@media (max-width: 1400px) and (max-width: 1500px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 1300px;
    font-size: 9rem;
  }
}
@media (max-width: 1300px) and (max-width: 1400px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 1200px;
    font-size: 8rem;
  }
}

@media (max-width: 1200px) and (max-width: 1300px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 1100px;
    font-size: 7.5rem;
  }
}
@media (max-width: 1100px) and (max-width: 1200px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 1000px;
    font-size: 7rem;
  }
}
@media (max-width: 1000px) and (max-width: 1100px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 900px;
    font-size: 6.5rem;
  }
}

@media (max-width: 900px) and (max-width: 1000px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 850px;
    font-size: 6rem;
  }
}
@media (max-width: 800px) and (max-width: 900px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 800px;
    font-size: 5.5rem;
  }
}
@media (max-width: 750px) and (max-width: 800px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 750px;
    font-size: 5rem;
  }
}
@media (max-width: 700px) and (max-width: 750px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 400px;
    font-size: 4rem;
  }
}

@media (max-width: 650px) {
  .welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 400px auto 400px auto;
    max-width: 300px;
    font-size: 2rem;
  }
}
